<section class="forgot-password-area">
    <div class="d-flex justify-content-center align-items-center login-container">
      <div class="form-background">
        <div class="def-form text-center"  (keyup.enter)="endForgotPassword()">
          <h1 class="mb-5 font-weight-light text-uppercase">Input new password</h1>
          <div class="form-group"  *ngFor="let som of form.argsV">
            <input id="{{som.name}}" type="{{som.type}}" class="form-control rounded-pill form-control-lg"
            dbstring [attrString]="{str:'pn-' + som.name, arg: 'placeholder'}" [dbPrefix]="false"
            (change)="onChange(som.name)"/>
            
            <p class="text-danger font-weight-bold text-center" *ngFor="let item of som.errors">
              {{item | async}}
          </p>
          </div>
          <button (click)="endForgotPassword()" class="btn-reg btn mt-5 rounded-pill btn-lg btn-warning btn-block text-uppercase">
            Send
          </button>
        </div>
      </div>
    </div>
  </section>