.forgot-password-area{
    z-index: 1;
    height: 100vh;
    position: relative;
    background: url(./../home/img/forgot-password.jpg) no-repeat center;
    background-size: cover;
}
.form-background{
	background-color: hsl(51deg 10% 15% / 75%);
	border-radius: 5px;
}
