################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/SchoolBridge.API/SchoolBridge.DataAccess/Migrations/20200621125340_init.Designer.cs
