<nav class="navBar">
    <input type="checkbox" id="chk">
    <label for="chk" class="show-menu-btn">
        <img src="./../../../assets/img/menu.png" class="nav-img" alt="menu" />
    </label>
    <ul class="menu align-middle" (click)="onClickMenuItem()">
        <a routerLink="/home">home</a>
        <ng-template [ngIf]="(userService.user | async) != null">
            <a (click)="logout()">logout</a>
        </ng-template>
        <a *ngIf="(userService.user | async) == null" routerLink="/login">sign In</a>
        <label for="chk" class="hide-menu-btn">
            <i class="fas fa-times"></i>
        </label>
    </ul>
    <ng-template [ngIf]="(userService.user | async) != null">
        <set-db-notifications dbNotifications></set-db-notifications>
    </ng-template>
</nav>
