<div class="panel panel-default float-right mr-4">
  <div class="panel-body">
      <div class="btn-group pull-right top-head-dropdown dropdown">
          <label (onMutation)="onNtfMenuChange($event)" [mutationConfig]="{attributes: true}" class="ntf-toggle-btn" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              <i class="fas fa-bell"></i>
              <sup *ngIf="ntfService.countUnread > 0" ><small><small class="badge badge-pill badge-danger" >{{ntfService.countUnread}}</small></small></sup>
          </label>

          <ul class="dropdown-menu dropdown-menu-right" (scroll)="onNtfScroll($event)">
              <label class="hide-menu-btn position-fixed item-size">
                  <i class="fas fa-times "></i>
              </label>
              <base-db-ntf *ngFor="let item of ntfService.notifications" [ntf]="item" (onChange)="onChange()" ></base-db-ntf>
              <ng-container *ngIf="loader">
                  <li>
                      <div class="loader-topbar"></div>
                  </li>
              </ng-container>
          </ul>
      </div>
  </div>
</div>