<div (keyup.enter)="register()" class="d-flex justify-content-center login-container">
    <form class="def-form text-center" [formGroup]="form">
        <h1 class="mb-5 font-weight-light text-uppercase" dbstring >header</h1>
        <div class="form-group" *ngIf="{name: 'login', ctrl: form.controls.login} as em">
            <input formControlName="{{em.name}}" type="text" class="form-control rounded-pill form-control-lg" 
                dbstring [attrString]="{str:'pn-'+ em.name, arg: 'placeholder'}" [dbPrefix]="false">
            <p class="text-danger font-weight-bold text-center"
                *ngFor="let item of em.ctrl.getError('err')">
                {{item | async}}
            </p>
        </div>
        <div class="form-group" *ngIf="{name: 'name', ctrl: form.controls.name} as em">
            <input formControlName="{{em.name}}" type="text" class="form-control rounded-pill form-control-lg" 
                dbstring [attrString]="{str:'pn-'+ em.name, arg: 'placeholder'}" [dbPrefix]="false">
            <p class="text-danger font-weight-bold text-center"
                *ngFor="let item of em.ctrl.getError('err')">
                {{item | async}}
            </p>
        </div>
        <div class="form-group" *ngIf="{name: 'surname', ctrl: form.controls.surname} as em">
            <input formControlName="{{em.name}}" type="text" class="form-control rounded-pill form-control-lg" 
                dbstring [attrString]="{str:'pn-'+ em.name, arg: 'placeholder'}" [dbPrefix]="false">
            <p class="text-danger font-weight-bold text-center"
                *ngFor="let item of em.ctrl.getError('err')">
                {{item | async}}
            </p>
        </div>
        <div class="form-group" *ngIf="{name: 'lastname', ctrl: form.controls.lastname} as em">
            <input formControlName="{{em.name}}" type="text" class="form-control rounded-pill form-control-lg" 
                dbstring [attrString]="{str:'pn-'+ em.name, arg: 'placeholder'}" [dbPrefix]="false">
            <p class="text-danger font-weight-bold text-center"
                *ngFor="let item of em.ctrl.getError('err')">
                {{item | async}}
            </p>
        </div>
        <div class="form-group" *ngIf="{name: 'birthday', ctrl: form.controls.birthday} as em">
            <input formControlName="{{em.name}}" type="date" class="form-control rounded-pill form-control-lg" 
                dbstring [attrString]="{str:'pn-'+ em.name, arg: 'placeholder'}" [dbPrefix]="false">
            <p class="text-danger font-weight-bold text-center"
                *ngFor="let item of em.ctrl.getError('err')">
                {{item | async}}
            </p>
        </div>
        <div class="form-group" *ngIf="{name: 'password', ctrl: form.controls.password} as em">
            <input formControlName="{{em.name}}" type="password" class="form-control rounded-pill form-control" 
                dbstring [attrString]="{str:'pn-'+ em.name, arg: 'placeholder'}" [dbPrefix]="false">
            <p class="text-danger font-weight-bold text-center"
                *ngFor="let item of em.ctrl.getError('err')">
                {{item | async}}
            </p>
        </div>
        <div class="form-group" *ngIf="{name: 'confirmPassword', ctrl: form.controls.confirmPassword} as em">
            <input formControlName="{{em.name}}" type="password" class="form-control rounded-pill form-control" 
                dbstring [attrString]="{str:'pn-'+ em.name, arg: 'placeholder'}" [dbPrefix]="false">
            <p class="text-danger font-weight-bold text-center"
                *ngFor="let item of em.ctrl.getError('err')">
                {{item | async}}
            </p>
        </div>
        <button (click)="register()" type="submit" class="btn-reg btn mt-5 rounded-pill btn-lg btn-custom btn-block text-uppercase" dbstring>button</button>
    </form>
</div>