.register {
	margin: 0 auto;
	margin-top: 20px;
	max-width: 500px;
	border-radius: 5px;
	background-color: darkgray;
	padding: 10px 20px 20px 20px;
}
.register > *{
	margin-top: 10px;
}
.email {
	background: #C673B3;
	margin: 0 auto;
  }
  .email:hover {
	background: #b74f9f;
  }
  .email:active,
  .email:focus {
	background: #963d82;
  }
  .email:after {
	content: "\F0E0";
  }
  .email:hover:after {
	-webkit-animation: none;
	-webkit-transform: skew(-20deg);
	animation: none;
	transform: skew(-20deg);
	text-indent: .1em;
  }

.inpt-span .slide-up {
    text-indent: 60px;
}

.inpt-span .slide-up:focus, .inpt-span .slide-up:active{
	text-indent: 0px;
}