.def-form a:hover{
	color:#9e09e3;
}
.form-control:focus{
	border-color:#9e09e3;
	box-shadow: 0 0 0 0.2rem #9e09e3;
}
.btn-reg {
	background: #e874ff;
	border-color:#e874ff;
}
.btn-reg:focus,
.btn-reg:hover,
.btn-reg:active,
.btn-reg:active:focus {
	background: #9e09e3;
	border-color: #9e09e3;
}
.btn-reg:focus{
	box-shadow: 0 0 0 0.2rem #9e09e3;
}
a.forgot-link:hover{
	color:#9e09e3;
}
  