@import url('https://fonts.googleapis.com/css?family=Poppins:100,200,300,400,500,600,700,800,900');
@import url("https://use.fontawesome.com/releases/v5.6.1/css/all.css");
body {
    background: #151515;
    max-width: 81.25rem;
    min-height: 100vh;
    margin: 0 auto;
    position: static;
    scroll-behavior: smooth;
}

.login-container{
	height: 65vh;
	width: 100%;
	color: #fff;
  }
  .login-form{
	margin: auto;
	width: 370px;
	padding: 15px;
	max-width: 100%;
  }
  .login-form .form-control{
	font-size: 15px;
	min-height: 48px;
	font-weight: 500;
  }
  .login-form a{
	text-decoration: none;
	color:#666;
  }
  .login-form a:hover{
	color:#0984e3;
  }
  .forgot-link{
	font-size: 13px;
  }
  
  .form-control:focus{
	border-color:#0984e3;
	box-shadow: 0 0 0 0.2rem #0984e3;
  }
  .btn-custom{
	background: #74b9ff;
	border-color:#74b9ff;
	color:#fff;
	font-size: 15px;
	font-weight: 600;
	min-height: 48px;
  }
  .btn-custom:focus,
  .btn-custom:hover,
  .btn-custom:active,
  .btn-custom:active:focus{
	background: #0984e3;
	border-color: #0984e3;
	color:#fff;
  }

  .btn-custom:focus{
	box-shadow: 0 0 0 0.2rem #0984e3;
  }