<div class="dropdown d-inline" *ngIf="info">
    <button class="btn btn-warning btn-rounded dropdown-toggle text-uppercase" type="button"
        id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        {{info.currentLanguage}}
        <div *ngIf="isChangingObs | async" class="loader-topbar d-inline-block"></div>
    </button>

    <div class="dropdown-menu dropdown-warning dropdown-menu-left" aria-labelledby="dropdownMenuButton">
        <button class="dropdown-item {{item.key}}" (click)="onSelect($event)"
            *ngFor="let item of info.awaibleLanguages | keyvalue;">
            {{item.value}}
        </button>
    </div>
</div>