<div class="navBar">
    <header class="header_area">
        <div class="main_menu">
            <nav class="navbar navbar-expand-lg navbar-light">
                <div class="container">
                    <app-language-selector class="lang-selector"></app-language-selector>

                    <button class="navbar-toggler" type="button" data-toggle="collapse"
                        data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse offset" id="navbarSupportedContent">
                        <ul class="nav navbar-nav menu_nav ml-auto">
                            <li class="nav-item submenu dropdown">
                                <a class="nav-link dropdown-toggle" data-toggle="dropdown" role="button"
                                    aria-haspopup="true" aria-expanded="false">Menu</a>
                                <ul class="dropdown-menu">
                                    <li class="nav-item">
                                        <a class="nav-link" routerLink="./" routerLinkActive="active"
                                            [routerLinkActiveOptions]="{exact: true}" dbstring>panels</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" routerLink="./settings" routerLinkActive="active"
                                            dbstring>settings</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" routerLink="./chat" routerLinkActive="active"
                                            dbstring>chat</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link nav-logout" (click)="logout()" dbstring>logout</a>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                    <div class="center-i">
                        <set-db-notifications dbNotifications></set-db-notifications>
                    </div>
                </div>
            </nav>
        </div>
    </header>
</div>
