<div class="main" >
<section class="home_banner_area">
    <div class="banner_inner">
      <div class="container">
        <div class="row">
          <div class="col-lg-12">
            <div class="banner_content text-center">
              <p class="text-uppercase">
                Best online education service In the world
              </p>
              <h2 class="text-uppercase mt-4 mb-5">
                One Step Ahead This Season
              </h2>
              <div>
                <a href="#" class="primary-btn2 mb-3 mb-sm-0">learn more</a>
                <a href="#" class="primary-btn ml-sm-3 ml-0">Register</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!--================ End Home Banner Area =================-->

  <!--================ Start Feature Area =================-->
  <section class="feature_area section_gap_top">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-lg-5">
          <div class="main_title">
            <h2 class="mb-3">Awesome Feature</h2>
            <p>
              Replenish man have thing gathering lights yielding shall you
            </p>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-4 col-md-6">
          <div class="single_feature">
            <div class="icon"><i class="fas fa-graduation-cap icon-size"></i></div>
            <div class="desc">
              <h4 class="mt-3 mb-2">Scholarship Facility</h4>
              <p>
                One make creepeth, man bearing theira firmament won't great
                heaven
              </p>
            </div>
          </div>
        </div>

        <div class="col-lg-4 col-md-6">
          <div class="single_feature">
            <div class="icon"><i class="fas fa-book-open icon-size"></i></div>
            <div class="desc">
              <h4 class="mt-3 mb-2">Sell Online Course</h4>
              <p>
                One make creepeth, man bearing theira firmament won't great
                heaven
              </p>
            </div>
          </div>
        </div>

        <div class="col-lg-4 col-md-6">
          <div class="single_feature">
            <div class="icon"><i class="fas fa-globe-americas icon-size"></i></div>
            <div class="desc">
              <h4 class="mt-3 mb-2">Global Certification</h4>
              <p>
                One make creepeth, man bearing theira firmament won't great
                heaven
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!--================ End Feature Area =================-->

  <!--================ Start Registration Area =================-->
  <div class="section_gap registration_area">
    <div class="container">
      <div class="row align-items-center">
        <div class="col-lg-7">
          <div class="row clock_sec clockdiv" id="clockdiv">
            <div class="col-lg-12">
              <h1 class="mb-3">Register Now</h1>
              <p>
                There is a moment in the life of any aspiring astronomer that
                it is time to buy that first telescope. It’s exciting to think
                about setting up your own viewing station.
              </p>
            </div>

          </div>
        </div>
        <div class="col-lg-4 offset-lg-1">
          <div class="register_form">
            <h3>Register NOW!</h3>
            <form class="form_area" id="myForm" action="mail.html" method="post">
              <div class="row">
                <div class="col-lg-12 form_group">
                  <input name="name" placeholder="Your Phone Number" required="" type="tel" />
                </div>
                <div class="col-lg-12 text-center">
                  <button class="primary-btn">Submit</button>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!--================ End Registration Area =================-->

  <!--================ Start footer Area  =================-->
  <footer class="footer-area section_gap">
    <div class="container">

      <div class="row footer-bottom d-flex justify-content-between">
        <p class="col-lg-8 col-sm-12 footer-text m-0 text-white">
          &copy;
          <script>document.write(new Date().getFullYear());</script> SchoolBridge 2020
        </p>
      </div>
    </div>
  </footer>

</div>
