<div class="body"></div>
<div class="grad"></div>
<div class="header">
    <div>Green<span>Book</span><br>Sign Up</div>
</div>
<br>
<div class="register">
    <input type="text" placeholder="Email" name="Email"><br>
    <input type="password" placeholder="Password" name="password"><br>
    <input type="password" placeholder="Confirm Password" name="password"><br>
    <input type="button" value="register">
    <p class="submit-text">Already have a GreenBook account? <a routerLink="/login">Log In.</a></p>
</div>