.login_banner_area{
    z-index: 1;
  min-height: 900px;
  position: relative;
  background: url(./../home/img/login_banner.jpg) no-repeat center;
  background-size: cover;
}

.form-background{
  background-color: hsl(51deg 43% 33% / 75%);
  border-radius: 5px;
}

.a-left{
  margin-right: 20px;
}