<div class="messaging">
    <div class="inbox_msg">
      <div class="inbox_people" [ngClass]="{'mclose' : curChat | async}" >
        <div class="headind_srch">
          <div class="recent_heading">
            <h4>Recent</h4>
          </div>
          <div class="srch_bar">
            <div class="stylish-input-group">
              <input type="text" class="search-bar"  placeholder="Search" >
              </div>
          </div>
        </div>
        <div class="inbox_chat scroll"  >
          <div *ngFor="let item of (chatService.chats | async) | keyvalue;" class="chat_list active_chat">
            <div class="chat_people" *ngIf="item.value.direct; else elseBlock" (click)="onSelectChat(item.value)">
              <div class="chat_img">
                <img src="{{(item.value.user | async)?.photo}}" alt="{{(item.value.user | async)?.login}}">
                <i *ngIf="((item.value.user | async)?.onlineStatus | async) !== 2" class="fa fa-circle onl-status" 
                [ngClass]="{'online' : ((item.value.user | async)?.onlineStatus | async) === 1,
                            'offline' : ((item.value.user | async)?.onlineStatus | async) === 0 }" ></i>
              </div>
              <div class="chat_ib">
                <h5>{{(item.value.user | async)?.login}} <span *ngIf="item.value.lastMessage | async" class="chat_date">{{((item.value.lastMessage | async)?.date | timeAgo) | async}}</span></h5>
                <p><span *ngIf="(item.value.read | async) === false" class="font-weight-bold" >new</span> {{(item.value.lastMessage | async)?.toString()}}</p>
              </div>
            </div>
            <ng-template #elseBlock>
              Content to render when condition is false.
            </ng-template>
          </div>
        </div>
      </div>
      <div class="mesgs" *ngIf="curChat | async; else elseBlock;" >
        <div class="msg_bar row no-gutters bg-white" >
          <button (click)="delectChat()" type="button" class="btn bg-dark rounded-0 text-white col-1">
            <i class="fa fa-angle-left"></i>
          </button>
          <div *ngIf="(curChat | async)?.direct; else elseBlock" class="col-2 offset-4 row no-gutters" >
            <img class="rounded-circle" src="{{((curChat | async)?.user | async)?.photo}}"/>
            <p class="text-dark" >{{((curChat | async)?.user | async)?.login}}</p>
          </div>
          <ng-template #elseBlock>
            Content to render when condition is false.
          </ng-template>
        </div>
        <div class="chat">
          <div class="chat__wrapper">
            <div *ngFor="let item of (curChat | async)?.messages | async;" 
            class="chat__message" [ngClass]="{'chat__message-own' : (curChat | async)?.model.user.id != item.model.sender.id}" >
              <div class="date"></div>
              <div>{{item.toString()}}</div>
            </div>
          </div>
        </div>
        <div class="chat__form">
          <div id="chat__form">
            <input id="text-message" type="text" placeholder="Type your message here ...">
            <button type="submit">Send</button>
          </div>
        </div>
        <div id="result"></div>
      </div>
      <ng-template #elseBlock>
        <div>Select chat</div>
      </ng-template>
    </div>
  </div>