<header class="header_area">
    <div class="main_menu">
        <nav class="navbar navbar-expand-lg navbar-light">
            <div class="container">
                <app-language-selector class="lang-selector"></app-language-selector>
                <button class="navbar-toggler" type="button" data-toggle="collapse"
                    data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                    aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse offset" id="navbarSupportedContent">
                    <ul class="nav navbar-nav menu_nav ml-auto">
                        <li class="nav-item">
                            <a class="nav-link" routerLink="./home" routerLinkActive="active">Home</a>
                        </li>
                        <li class="nav-item submenu dropdown">
                            <a class="nav-link dropdown-toggle" data-toggle="dropdown" role="button"
                                aria-haspopup="true" aria-expanded="false">Start</a>
                            <ul class="dropdown-menu">
                                <li class="nav-item" (click)="onClickMenuItem()">
                                    <a class="nav-link" routerLink="./register" routerLinkActive="active"
                                        dbstring>Register</a>
                                </li>
                                <li class="nav-item" (click)="onClickMenuItem()">
                                    <a class="nav-link" routerLink="./login" routerLinkActive="active"
                                        dbstring>Login</a>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </div>
</header>