<div class="row w-100 m-0 panels-container">
    <div *ngIf="'GetAdminPanel' | userPerm" class="mb-3 col-12 col-sm-6 col-lg-4">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title" dbstring >ad-panel</h5>
          <p class="card-text" dbstring >ad-panel-desc</p>
          <a routerLink="./admin" class="btn btn-primary text-white" dbstring >go</a>
        </div>
      </div>
    </div>
    <div *ngIf="'GetPupilPanel' | userPerm" class="pl-sm-0 mb-3 col-12 col-sm-6 col-lg-4">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title" dbstring >pl-panel</h5>
          <p class="card-text" dbstring  >pl-panel-desc</p>
          <a routerLink="./subjects" class="btn btn-primary" dbstring >go</a>
        </div>
      </div>
    </div>
</div>
