<div class="tm-container bg-white">
    <div class="tm-header-stripe w-100"></div>
    <div class="container-fluid">
        <section class="row tm-mb-1">
            <h2 class="col-12 text-center tm-text-primary tm-my-1 tm-intro-text">Information</h2>
            <div class="col-lg-4 text-center">
                <div class="tm-box-1">
                    <i class="fas fa-box-open fa-4x tm-icon-1"></i>
                    <h3 class="tm-h3 tm-text-primary">Lorem</h3>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sunt debitis distinctio delectus, ut
                        libero porro sit veritatis nam dolorum saepe!</p>
                </div>
            </div>
            <div class="col-lg-4 text-center">
                <div class="tm-box-1">
                    <i class="fas fa-box-open fa-4x tm-icon-1"></i>
                    <h3 class="tm-h3 tm-text-primary">Lorem</h3>
                    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Omnis debitis praesentium vero unde
                        totam esse dolorum recusandae consectetur at quasi.</p>
                </div>
            </div>
            <div class="col-lg-4 text-center">
                <div class="tm-box-1">
                    <i class="fas fa-box-open fa-4x tm-icon-1"></i>
                    <h3 class="tm-h3 tm-text-primary">Lorem</h3>
                    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Earum explicabo quibusdam velit sequi
                        suscipit nihil ad at tenetur debitis quos!</p>
                </div>
            </div>
        </section>
    </div>
</div>